[runtime]
environment="development"

[server]
host="localhost"
port="3000"
sessionSecret="super-secret"

# Delete if not in use
[gitea]
key=
secret=
baseURL="https://gitea.yourcompany.com"
authURI=
accessTokenURI=
userURI=
callbackURI="http://localhost:3000/callback/gitea"

# Delete if not in use
[gitlab]
key=
secret=
baseURL=
authURI="oauth/authorize"
accessTokenURI="oauth/token"
userURI="api/v3/user"
callbackURI="http://localhost:3000/callback/gitlab"

# Delete if not in use
[github]
key=
secret=
baseURL=
callbackURI="http://localhost:3000/callback/github"

# Delete if not in use
[bitbucket]
key=
secret=
baseURL=
callbackURI="http://localhost:3000/callback/bitbucket"
