HOST=localhost
PORT=3000
SESSION_SECRET=super-secret

GITEA_KEY=
GITEA_SECRET=
GITEA_BASE_URL=https://gitea.yourcompany.com
GITEA_AUTH_URI=
GITEA_TOKEN_URI=
GITEA_USER_URI=
CALLBACK_URI=https://oauth.example.com/callback